@import "tailwindcss";
@plugin "@tailwindcss/typography";
@config "../tailwind.config.js";

@theme {
  --font-sans: Inter, system-ui, sans-serif;
  --font-mono: Consolas, Monaco, "Andale Mono", monospace;

  --color-codeblock: #1d2021;
  --color-codeblock-code: #ebdbb2;
}

@layer base {

  html,
  body {
    @apply scroll-smooth;
  }

  * {
    @apply scroll-mt-12;
  }
}
